name: yamllint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install yamllint

      - name: Verify yamls
        run: |
          yamllint -sd relaxed .
